@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-primary: #5044e5;

  /* Primary Shades */
  --color-primary-50: #dbe7ff;
  --color-primary-100: #e7e4ff;

  /* Supporting Colors */
  --color-secondary: #0f172a;
  --color-muted: #64748b;

  /* Background Colors */
  --color-bg-light: #ffffff;
  --color-bg-soft: #f8fafc;
  --color-bg-dark: #020617;

  /* Text Colors */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-light: #f8fafc;

  /* Border Colors */
  --color-border-light: #e2e8f0;
  --color-border-dark: #1e293b;
  --color-shadow-light: rgba(100, 116, 139, 0.1);
}

@layer utilities {
  .shadow-soft {
    box-shadow: 0 20px 80px var(--color-shadow-light);
  }
}
